@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    background-color: #19183c;
    color: #dae2ff;
}
body {
    width: 100%;
}

h1 img {
    position: fixed;
    top: 3%;
    width: 4.7%;
    padding: 0.5% 1% 1% 1%;
    left: 19%;
}

main {
    width: 100%
}

button {
    position: fixed;
    background: #003f5d;
    color: #00ADFF;
    padding: 0.3%;
    border-radius: 8px;
    border: 1px solid;
    right: 27%;
    top: 12.5%;
    cursor: pointer;
    border-color: #003f5d;
}

#buttons {
    text-align: right;
}

button:hover {
    background: #00557e;
}





main {
    margin: 50px auto;
    width: 100%;
}

#alien {
    position:fixed;
    
    padding: 0.5% 1% 1% 1%;
    left : 24%;
    top: 3.8%
}

#info {
    position: fixed;
    left: 24%;
    top: 12%;
    font-size: x-large;
    padding: 0 20px 20px 20px;
}

button:active {
    background-color: #4b4a78;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#words {
    position:fixed;
    z-index: 2;
    font-family: "Roboto Mono", monospace;
    font-size: large;
    color: #606577;
    margin: 0 5px;
    display: inline-block;
    user-select: none;
    pointer-events: none;
    top:20%;
    width: 50%;
    left :23%;
}

div#game {
    line-height: 200%;
    height: 100%;
    overflow: hidden;
}

#header {
    margin: 20px 6px 30px;
}

#start {
    position:fixed;
    top:9%;
    right:50%
}

span.correct {
    color: #dae2ff;
    animation:none !important;
}

span.incorrect {
    color: red;
    animation: none !important;
}

input {
    position: absolute;
    opacity: 0;
    right: 170px;
    background-color: #1B1A55;
    border-block-color: #1B1A55;
    z-index: 1;
    top: 150px;
    width: 1000px;
    height: 500px;
}

#wpm {
    position: fixed;
    top: 52.35%;
    left: 19%;
    padding: 30px 30px 30px 30px;
}

#cpm {
    position:fixed;
    top: 52.35%;
    left: 33%;
    padding: 30px 30px 30px 30px;
}

#mistake {
    left: 47%;
    position: fixed;
    top: 52.35%;
    padding: 30px 30px 30px 30px;
}

#acc {
    left: 63%;
    position: fixed;
    top: 52.35%;
    padding: 30px 30px 30px 30px;
}

span.active {
    
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }

    50% {
        background-color: black;
    }
}
#easter {
    background-color: #19183c;
    color: #19183c;
    position: fixed;
    top: 700px;
    border-color: #19183c;
    opacity: 50%;
}
#easter:hover {
        color: #606577;
}
#timeover {
    position: fixed;
    left: 24%;
    top: 40%;
}

#game1 {
    font-size: 250%;
    position: fixed;
    top: 55%;
    left: 25%;
    right: 55%;
    
}

#game2 {
    font-size: 250%;
    position: fixed;
    top: 55%;
    left: 55%;
    right: 25%
}

#game2:hover{
        transform: scale(1.1);
}
#alimg {
    width: 20%;
    border: 1px solid;
    border-radius: 5%;
    border-color: #00ADFF;
    position: fixed;
    top: 34%;
    left: 25%;
    right: 55%
}
#game1:hover {
    transform: scale(1.05);
}
#game1 {
    transition: transform 0.3s ease;
}
#alimg:hover {
        transform: scale(2);
        top:22%
    }

#alimg {
    transition: transform 0.3s ease;
    transition: top 0.3s ease;
}
#menupage {
    background-color: #003f5d;
    width: 15%;
    height: 100%;
    position: fixed;
    left: -16%;
    top: 0;
    border-radius: 3%;
    transition:left 0.3s ease;
}

#svg {
    position: fixed;
    right: 96.6% !important;
    width: 3% !important;
    border-radius: 10px;
    fill: #00ADFF;
    top: 6% !important;
    height: 5%;
    transition: background-color 0.1s ease;
}
#menupage:hover {
       position:fixed;
       left:-1%;
       background-color: #00557e;
       cursor:pointer;
           
}

#menu {
    position: fixed;
    width: 13%;
    height: 8%;
    font-size: 250%;
    left: -10.3%;
    top: 18%;
    background-color: #19183c;
    transition: left 0.3s ease;
    border-color: #19183c;
}
    #menu:hover {
        position: fixed;
        left: -1%;
        cursor: pointer;
        border-color: #19183c;
        border-width: 0px;
    }
#LeaderBoard {
    position: fixed;
    width: 13%;
    height: 8%;
    font-size: 150%;
    left: -10.3%;
    top: 30%;
    background-color: #19183c;
    transition: left 0.3s ease;
    border-color: #19183c;
}
#LeaderBoard:hover {
    position: fixed;
    left: -1%;
    cursor: pointer;
    border-color: #003f5d;
    border-width: 0px;
}
#Login {
    position: fixed;
    width: 13%;
    height: 8%;
    font-size: 150%;
    left: -10.3%;
    top: 42%;
    background-color: #19183c;
    transition: left 0.3s ease;
    border-color: #19183c;
}

#Login:hover {
        position: fixed;
        left: -1%;
        cursor: pointer;
        border-color: #003f5d;
        border-width: 0px;
}
