@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    background-color: #19183c;
    color: #dae2ff;
}
body {
    width: 100%;
}

h1 img {
    position: fixed;
    top: 3%;
    width: 4.7%;
    padding: 0.5% 1% 1% 1%;
    left: 19%;
}

main {
    width: 100%
}

button {
    position: fixed;
    background: #7977b8;
    color: #19183c;
    padding: 0.3%;
    border-radius: 8px;
    border: 1px solid;
    right: 27%;
    top: 12.5%;
}

#buttons {
    text-align: right;
}

button:hover {
    background: #4b4a78;
  
}





main {
    margin: 50px auto;
    width: 100%;
}

#alien {
    position:fixed;
    
    padding: 0.5% 1% 1% 1%;
    left : 24%;
    top: 3.8%
}

#info {
    position: fixed;
    left: 24%;
    top: 12%;
    font-size: x-large;
    padding: 0 20px 20px 20px;
}

button:active {
    background-color: #4b4a78;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#words {
    position:fixed;
    z-index: 2;
    font-family: "Roboto Mono", monospace;
    font-size: large;
    color: #606577;
    margin: 0 5px;
    display: inline-block;
    user-select: none;
    pointer-events: none;
    top:20%;
    width: 50%;
    left :23%;
}

div#game {
    line-height: 200%;
    height: 100%;
    overflow: hidden;
}

#header {
    margin: 20px 6px 30px;
}

#start {
    position:fixed;
    top:9%;
    right:50%
}

span.correct {
    color: #dae2ff;
    animation:none !important;
}

span.incorrect {
    color: red;
    animation: none !important;
}

input {
    position: absolute;
    opacity: 0;
    right: 170px;
    background-color: #1B1A55;
    border-block-color: #1B1A55;
    z-index: 1;
    top: 150px;
    width: 1000px;
    height: 500px;
}

#wpm {
    position: fixed;
    top: 52.35%;
    left: 19%;
    padding: 30px 30px 30px 30px;
}

#cpm {
    position:fixed;
    top: 52.35%;
    left: 33%;
    padding: 30px 30px 30px 30px;
}

#mistake {
    left: 47%;
    position: fixed;
    top: 52.35%;
    padding: 30px 30px 30px 30px;
}

#acc {
    left: 63%;
    position: fixed;
    top: 52.35%;
    padding: 30px 30px 30px 30px;
}

span.active {
    
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }

    50% {
        background-color: black;
    }
}
#easter {
    background-color: #19183c;
    color: #19183c;
    position: fixed;
    top: 700px;
    border-color: #19183c;
    opacity: 50%;
}
#easter:hover {
        color: #606577;
}
#timeover {
    position: fixed;
    left: 24%;
    top: 40%;
}
